{{!-- <h2 class="text-center">Ember To Do List</h2> --}}
<a {{action "signIn" "google"}} class="btn">Google</a>
{{#if session.isAuthenticated}}
    <span>Currently logged in as {{session.currentUser.displayName}} with 
    {{session.provider}} - <a {{action "signOut"}}>Sign out</a></span>
{{/if}}



<br>
<br>
<br>
<br>
<br>
<br>

{{#if session.isAuthenticated}}
   {{outlet}}

<div class="container col-sm-8 col-m-4 col-lg-4 p-2" style="text-align:center">
 <img class="w-100" src="assets/images/headerlogo.png" alt=""> 
</div>

<br>

<div class="container col-sm-8 col-m-4 col-lg-4 p-2">
  <div class="d-flex">
    {{input class="form-control mr-1" value=description enter=(action 'saveTask' description)}}
    <button class="btn btn-success" type="submit">
      <span {{action 'saveTask' description}} class="glyphicon glyphicon-plus">Save</span>
    </button>
  </div>
</div>

<div class="container col-sm-8 col-m-4 col-lg-4 p-2">
{{#each weekdays as |day|}}
  <button {{action 'setDay' day}} class="{{if (eq day activeDay) 'btn-success'}} btn weekday" type="submit">
      <span class="glyphicon glyphicon-plus">{{day}}</span>
  </button>
{{/each}}
</div>

<br>
<div class="container col-sm-8 col-m-4 col-lg-4 p-2">
    {{#each sortedTasks as |task|}}  
      <div class="row" style="margin: auto">

        <div class="list-group-item w-100">
          <div class="{{if task.isDone 'done'}} list-group-item-action d-inline-block align-middle p-2 w-75 rounded"  {{action 'toggleTask' task 'showNote'}}>
            {{#if task.isEditing}}
              {{input value=task.description autofocus=true autosave=true}} <button onClick={{action "saveEdit" task}} class="btn btn-success">Save</button>
            {{else}}
            <span class="align-middle" onclick={{action "editTask" task}}> <strong>{{task.description}}</strong></span> <span class="align-middle">{{if task.day task.day}}</span>
            {{/if}}
          </div>

          <div class="float-right">
            <button class={{if task.isDone 'btn btn-success' 'btn btn-outline-success'}} data-toggle="button" {{action "toggleTask" task 'isDone' model}}>✓</button>
            <button class="btn btn-outline-danger" data-toggle="button" {{action "delete" task}}>X</button>
          </div>
        </div>

        {{#liquid-if task.showNote use='toDown'}}
          {{#if task.note}}
            <div class="list-group-item list-group-item-action">
              {{#unless task.editingNote}}
                <p class="taskNote">{{task.note}}</p>
                <button {{action "toggleTask" task 'editingNote'}} class="btn btn-primary btn-block mt-3">Edit</button>
              {{else}}
                {{textarea class="form-control note-text-area" value=task.note}}
                <button {{action "saveNote" task task.note}} class="btn btn-primary btn-block mt-3">Submit!</button>
              {{/unless}}
            </div>
          {{else}}
            <div class="list-group-item list-group-item-action">
              {{textarea class="form-control note-text-area" value=taskNote}}
              <button {{action "saveNote" task taskNote}} class="btn btn-primary btn-block">Submit</button>
            </div>
          {{/if}}
        {{/liquid-if}}

      </div>
    {{/each}}
</div>
{{else}}
   can't be here
{{/if}}